
@{
    ViewBag.Title = "PoduzećeManagePanel";
    Layout = "~/Views/Shared/SharedPagesLayout.cshtml";
}

<div class="prijefotera1">
    <br />
    <div class="col-md-12 align-center">
        <h2>Poduzeće upravljačka ploča</h2>
    </div>
    <hr />
    <br />
    <div class="form-group">
        <div class="col-md-12 text-center">
            <a href="@Url.Action("PoduzećeManageList", "Admin")">Pronađi listu poduzeća</a>
        </div>
    </div>
    <br />
    <div class="text-md-center">
        @Html.ActionLink("Kreiraj novo poduzeće", "CreatePoduzeće", "Admin")
    </div>
</div> 
<div class="Boja1">
    <hr />

    @Html.ActionLink("Natrag na admin upravljačku ploču", "AdminMainManagingMenu", "Admin")
</div>



