
@{
    ViewBag.Title = "NemaRezultataPretrage";
    Layout = "~/Views/Shared/SharedPagesLayout.cshtml";
}

<br />
<h2 class="text-md-center" style="color:yellow">
    Pretraga nije urodila plodom ( takav pojam pretraživanja se ne nalazi
    u našoj bazi. ) Možda da promijenite filtere pretraživanja?
</h2>
<hr />
<br />
<br />
<br />
<br />

<div class="gumb">
    <a href='@Url.Action("Index", "Home")' class="btn btn-primary">Natrag na početnu stranicu</a>
</div>
