
@{
    ViewBag.Title = "NeovlašteniPristup";
    Layout = "~/Views/Shared/SharedPagesLayout.cshtml";
}

<br />
<h2 class="text-md-center" style="color:red">NeovlašteniPristup!</h2>

<div class="Boja">
    <hr />

    <p>
        @Html.ActionLink("Natrag na početnu stranicu", "Index", "Home")
    </p>

</div>